body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 16pt;
}

h1 {
  font-family: 'Work Sans', sans-serif;
}

h2 {
  text-align: center;
  padding: 25px 0px;
}

.header {
  background-color: #0052A5;
  color: #fff;
  padding-top: 7.5rem;
  height: 80vh;
}

.header .display-3 {
  font-size: 3.3em;
}

.header .lead {
  font-size: 1.2em;
}

.donate-hero {
  margin-top: 50px;
}

.btn-danger {
  background-color: #E0162B;
  margin-bottom: 50px;
  margin-top: 50px;
}


.elephantimage {
  width: 300px;
}

.howitworks {
  color: #0052A5;
  padding-top: 25px;
  padding-bottom: 50px;
}

.howitworks h2 {
  font-size: 64px;
  margin-bottom: 25px;
  font-weight: 900;
  width: 100%
}

.howitworks a {
  background-color: inherit;
  color: #0052A5;
  border-bottom: 7px solid #E0162B;
}

.howitworks a:hover {
  text-decoration: none;
  background-color: #E0162B;
}

.description {
  width: 800px;
  margin: auto;
}

li {
  font-size: 28px;
  padding-bottom: 35px;
}

.upnext {}

.leftcol {
  background-color: #E0162B;
  background-image: url("images/paul-ryan.jpg");
  background-repeat: no-repeat;
  color: #fff;
  min-height: 100vh;
  background-position: center;
}

.pol-img {
  margin: auto;
}

.rightcol {
  background-color: #0052A5;
  color: #fff;
  min-height: 100vh;
  padding-top: 50px;
}

.rightcol h3 {
  font-size: 4em;
  margin-bottom: 25px;
}

.rightcol h4 {
  padding-top: 25px;
  padding-bottom: 15px;
}

.donate-details{
  max-width: 400px;
  margin: auto;
  color: #0052A5;
  text-align: left;
  margin-top: 25px;
}

.donate-details h5 {
  text-align: center;
  text-decoration: none;
}

.btn-link:hover{
  text-decoration: none;
}

.donate-details li {
  font-size: 16pt;
}

.ammo {
  background-color: #E0162B;
  color: #fff;
  padding: 50px 25px;
    text-align: center;
}

.ammo h2 {
font-size: 4em;
margin-top: -25px;
}


.ammo a {
  background-color: inherit;
  color: #fff;
  border-bottom: 7px solid #0052A5;
}

.ammo a:hover {
  text-decoration: none;
  background-color: #0052a5;
}

.formwrapper {
  width: 500px;
  margin: auto;
  border: 2px solid #0052A5;
  border-radius: 5px;
  background-color: #0052A5;
  color: #fff;
  margin-top: 50px;
}

.donate {
  background-color: #fff;
  padding-top: 50px;
}

.donate h2 {
  color: #fff;
}

.donateform {
  padding: 25px 0 0 0;
  width: 400px;
  margin: auto;
}


.btn-primary:not([disabled]):not(.disabled).active {
  background-color: #E0162B;
  border-color: #E0162B;
}

.frequency {
  padding-top: 15px;
}

.btn-donate {
  background-color: #E0162B;
  color: #fff;
  margin-bottom: 35px;
}

.ablogo {
  display: block;
  margin: auto;
  width: 150px;
  margin-bottom: 50px;
}

.license {
  font-size: 12pt;
}

/* Begin Thank you */

.thankhero {
  background-color: #0052A5;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

.elephantimagethanks {
  display: block;
  width: 150px;
  margin: 0 auto;
}

.thankyouheader {
  padding-top: 50px;

}

.thanksbg {
    background-color: #0052A5;
}

.thanksbody {
  padding: 25px;
  background-color: #fff;
  margin-bottom: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(255,255,255,0.35);
-moz-box-shadow: 5px 6px 5px 0px rgba(255,255,255,0.35);
box-shadow: 5px 6px 5px 0px rgba(255,255,255,0.35);
color: #555;
}

.thanksbody a {
  background-color: inherit;
  color: #0052A5;
  border-bottom: 7px solid #E0162B;
}

.thanksbody a:hover {
  text-decoration: none;
  background-color: #E0162B;
}

.thanksbody h3 {
  margin: 25px 0 25px 0;
}

.thanksbody li {
  margin-bottom: 25px;
}

.takeaction {

}

.share {
  margin-top: 15px;
  text-align: center;
}

.sharebuttons a {
  text-decoration: none;
}

.footer {
  background-color: #333;
  color: #ccc;
  padding: 50px;
  text-align: center;
  font-size: .6em;
}

/*mobile*/

@media (max-width:768px) {
.header .display-3 {
    font-size: 2.5rem;
  }

  .header .lead {
    font-size: 1em;
  }

  .elephantimage {
    width: 150px;
  }

  .howitworks h2 {
    font-size: 36px;
  }
  li {
    font-size: 20px;
    padding-bottom: 16px;
  }
  .rightcol h3 {
    font-size: 2em;
  }
  .ammo h2 {
  font-size: 2em;
  margin-top: -25px;
  }

  .formwrapper {
    width: 100%;
    padding: 0 15px 0 15px;
    margin: auto;
    border: 2px solid #0052A5;
    border-radius: 5px;
    background-color: #0052A5;
    color: #fff;
    margin-top: 25px;
  }

  .donateform {
    padding: 25px 0 0 0;
    width: 100%;
  }

  .donateline {
    width: 90%;
    margin: 25px auto;
  }

  .btn-donate {
    background-color: #E0162B;
    color: #fff;
    /* width: 300px; */
    margin: auto;
  }
}
